* {
  padding: 0;
  margin: 0;
}

header {
  height: 150px;
  display: flex;
  background-color: rgb(211, 207, 207);
  justify-content: space-between;
}

h1 {
  margin-top: 20px;
  margin-right: 20px;
  color: blue;
}
nav {
  margin-top: 80px;
  margin-right: 50px;
}
a {
  padding-left: 200px;
  padding-right: 50px;
  color: black;
  text-decoration: none;
}
.h {
  text-align: center;
  margin-top: 100px;
  color: black;
}
table {
  margin-top: 75px;
  margin-left: 36%;
}

table td {
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 75px;
  padding-left: 75px;
  text-align: center;
}

table td span {
  display: inline-block;
  width: 100px;
  height: 25px;
}

table td.red span {
  background: red;
}

table td.green span {
  background: green;
}

footer {
  height: 30px;
  background-color: rgb(211, 207, 207);
  margin-top: 140px;
  text-align: center;
  padding-top: 25px;
}
